@model WindowsWebAdmin.Models.TaskManager
@{
    ViewBag.Title = "TaskList";
}
@Html.Partial("~/Views/Shared/_MachineStat.cshtml",Model) 
@Html.Partial("~/Views/Shared/TabStrip.cshtml", Model) 


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Process Id</th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Name</td>
                <td>@task.ProcessId</td>
            </tr>
        }
    </tbody>
</table>   
