@model WindowsWebAdmin.Models.Disk
@{
    ViewBag.Title = "TaskList";
}
@Html.Partial("~/Views/Shared/_MachineStat.cshtml", Model)
@Html.Partial("~/Views/Shared/TabStrip.cshtml", Model)

<h2>Disk</h2>

