body 
{
    font-family: Arial;
    font-size : 10pt;
}

.MachineStat 
{
    background-color:azure;
    border:2px solid black;
    padding:3px;
    font-size:12pt;
}

.MachineStat SPAN {
    
}

.ProgressFrame
{    
    border:1px solid black;
    background-color:silver;    
    text-align:center;
}

.ProgressBar
{
    height:100%;
    background-color:navy;
}
.Title 
{
    font-weight:bold;
}