body 
{
    font-family: Arial;
    font-size : 10pt;
}

.MachineStat 
{
    background-color:azure;
    border:2px solid black;
    padding:3px;
    font-size:12pt;
}

.MachineStat SPAN {
    
}

.ProgressFrame
{    
    border:1px solid black;
    background-color:silver;    
    text-align:center;
}

.ProgressBar
{
    height:100%;
    background-color:navy;
}
.Title 
{
    font-weight:bold;
}

.TabStrip
{    
    margin-top:20px;
    margin-bottom:20px;    
}

.TabStrip A
{
    background-color: rgb(207, 207, 207);
    font-size:14pt;
    border: 1px solid black;
    padding: 10px;
    margin: 2px;
    text-decoration:none;
    color: black;
}

.TabStrip A:visited 
{
   color: black;
}

.DiskPanel
{    
    border: 1px solid black;
    background-color: rgb(221, 228, 181);
    vertical-align:top;
    padding:5px;
    margin-top:20px;   
    margin-right:20px; 
    display:inline-block;
    min-width:200px;    
    height:130px;
}

.DiskPanel DIV.ProgressContainer
{
    margin-top:5px;
}

.TaskList 
{
    border-collapse: collapse;
    background-color:rgb(221, 228, 181);
    border:none;
}

.TaskList TH
{
    text-align:left;
    background-color:silver;
    padding-right:3px;    
    padding-left:3px;
    border:1px solid black;
}

.TaskList TD 
{
    border:1px solid black;
    
}